@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-cYellow: #FCCD2A;
  --color-cBronze: #C28927;
  --color-cGold: #C29E20;
  --color-cBlack: #161616;
  --color-cGery: #636363;
  --color-cLightGery: #B4B4B4;
  --color-cDarkGreen: #347928;
  --color-cDarkerGreen: #00642E;
  --color-cLightDarkGreen: #4A843F;
  --color-cYellowWhite: #FFFBE6;
  --font-sans: "Inter", sans-serif;
}