@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-cYellow: #FCCD2A;
  --color-cBronze: #C28927;
  --color-cGold: #C29E20;
  --color-cBlack: #161616;
  --color-cGery: #636363;
  --color-cLightGery: #B4B4B4;
  --color-cDarkGreen: #347928;
  --color-cDarkerGreen: #00642E;
  --color-cLightDarkGreen: #4A843F;
  --color-cYellowWhite: #FFFBE6;
  --font-sans: "Inter", sans-serif;
  --container-xlg: 71.875rem;
}

html {
  scroll-behavior: smooth;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ul, ol {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.home-bg {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.95) 0%,
      rgba(0, 0, 0, 0.75) 55%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("/src/assets/Home_Bg.jpg");
}

.home-bg-mobile {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    url("/src/assets/Home_Bg.jpg");
}